<ion-content class="no-scroll" fullscreen="true">
  <div class="name">
  <p class="welcome">Xin chào! {{ userInfo.displayName }}<p>
  <p class="email">Email: {{ userInfo.email }}<p>
</div>
  <img alt="Loading . . ." src="{{ userInfo.photoURL }}">


  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="red">
      <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="red" (click)="authService.SignOut()">
        <ion-icon src="assets/icon/logout.svg"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="red" (click)="navigate('account')">
        <ion-icon src="assets/icon/account.svg"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="red" (click)="navigate('home')">
        <ion-icon src="assets/icon/home.svg"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="red" (click)="navigate('movie')">
        <ion-icon src="assets/icon/tickets.svg"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>


