ion-content{
    --background: url(../../../assets/images/acc-background.png) center/cover fixed;
    --color: #fff;
}

.name{
    margin: 10px 10px;
   .welcome{
    font-size: 30px;
    font-family: 'Roboto-Bold';
    }
    .email{
        font-size: 16px;
        margin-top: -25px;
        font-family: 'Roboto-Thin';
    }
}

img{
    max-width: 100%;
    border: 0;
    border-radius: 100px;
    margin-top: 0vh;
    margin-left: 20vh;
    margin-right: 5vh;
}

.ion-color-red {
    --ion-color-base: #d82e35;
    --ion-color-base-rgb: 216, 46, 53;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #d82e35;
    --ion-color-tint: #d82e35;
}