<ion-header >
  <div class="login-header">
    <img class="logo-img" src="../../../assets/images/logo1.png" style= "height: 70px; " (click)="navigate('home')"/>
    <img class="icon-header" src="../../../assets/images/acc1.png" style= "height: 30px; "/>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
<div class="background">
  <div class="list-page">
    <ion-item lines="none" background="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <img src="../../../assets/images/seat2.png" style="height: 65px; display: flex; margin: 0 auto;">
          </ion-col>
          <ion-col size="3">
            <img src="../../../assets/images/popcorn1.png" style="height: 50px; display: flex; margin: 0 auto;">
          </ion-col>
          <ion-col size="3">
            <img src="../../../assets/images/card1.png" style="height: 50px; display: flex; margin: 0 auto;">
          </ion-col>
          <ion-col size="3">
            <img src="../../../assets/images/ticket1.png" style="height: 50px; display: flex; margin: 0 auto;">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    </div>
  </div>
<div class="seat-background">
<div class="movie-info">
<ion-card>
  <ion-card-header>
    <ion-card-title>{{ ticketInfo.movieDetail.name }}</ion-card-title>
    <ion-card-subtitle style="padding-top:5px;">
      <p style="margin: 2px 0px;">{{ movieDetail[0] }}</p>
      <strong style="margin: 2px 0px;">{{ movieDetail[1] }}</strong>
      <p style="margin: 2px 0px;">{{ movieDetail[2] }}</p>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>Chúc các bạn xem phim vui vẻ 💕</ion-card-content>
</ion-card>
</div>


<div class="seat-bill">
<ion-item lines="none">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="5" style="border-right: 1px solid;">
        <ion-label>
          <h4>Tổng đơn hàng </h4>
          <h6>{{seatMoneyString}}</h6>
        </ion-label>
      </ion-col>
      <ion-col size="7">
        <ion-label style="padding-left: 30px;">
          <h4>{{ movieDetail[3] }}</h4>
          <h4>Danh sách ghế</h4>
          <h6 style="padding-top: 2px;">{{listBookingSeatString}}</h6>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
</div>

<div class="movie-screen">
  <ion-card>
    <ion-card-subtitle>Màn Hình</ion-card-subtitle>
  </ion-card>
</div>

<div class="seat-list">
  <ion-row *ngFor="let row of rowList">
    <ion-col class="col" *ngFor="let col of colList">
      <ion-button id="{{row}}{{col}}" class="seat" (click)="press(row,col)">{{row}}{{col}}</ion-button>
    </ion-col>
  </ion-row>
  </div>

  <div class="seat-situation">
      <ion-item lines="none" background="none">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col >
              <img src="../../../assets/images/free.png" style="height: 15px;">
              <p class="situation" >Trống</p>
            </ion-col>
            <ion-col>
              <img src="../../../assets/images/full.png"  style="height: 15px;">
              <p class="situation">Đã đặt</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
  </div>
  <div class="next-btn">
    <ion-button class="ion-button-class" size="large" expand="block" (click)="btnNext()">Tiếp Tục</ion-button>
  </div>


</div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="tabs">
      <div class="tab" [ngClass]="{ 'active' : segment == 'popular' }" (click)="navigate('movie')">
        <img class="icon-tab" src="../../../assets/images/tab-list.png" style="height: 20px; " />
      </div>
      <div class="tab" [ngClass]="{ 'active' : segment == 'top' }" (click)="navigate('home')">
        <img class="icon-tab" src="../../../assets/images/tab-home.png" style="height: 22px; " />
      </div>
      <div class="tab" [ngClass]="{ 'active' : segment == 'upcoming' }" (click)="navigate('home')">
        <img class="icon-tab" src="../../../assets/images/tab-review.png" style="height: 24px; " />
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
