<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Đăng nhập</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Mật khẩu</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="logIn(email, password)" expand="block">Đăng nhập</ion-button>
      </ion-col>
      <ion-col size='4'>
        <ion-button type="submit" color="secondary" expand="block" [routerLink]="['/registration']">Đăng ký</ion-button>
      </ion-col>
    </ion-row>
    <ion-button type="submit" color="danger" (click)="authService.GoogleAuth()" expand="block">Đăng nhập bằng Google</ion-button>
    <ion-button type="submit" color="primary" (click)="authService.SignInWithFacebook()" expand="block">Đăng nhập bằng Facebook</ion-button>
  </form>
</ion-content>