<ion-header>
  <div class="login-header">
    <img class="logo-img" src="../../../assets/images/logo1.png" style= "height: 70px; "/>
    <img class="icon-header" src="../../../assets/images/acc1.png" style= "height: 30px; "/>
  </div>
</ion-header>

<ion-content>
<div class="background">
  <div class="list-page">
    <ion-item lines="none" background="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <img src="../../../assets/images/seat1.png" style="height: 50px;">
          </ion-col>
          <ion-col size="3">
            <img src="../../../assets/images/popcorn1.png" style="height: 50px;">
          </ion-col>
          <ion-col size="3">
            <img src="../../../assets/images/card2.png" style="height: 65px;">
          </ion-col>
          <ion-col size="3">
            <img src="../../../assets/images/ticket1.png" style="height: 50px;">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    </div>

<div class="movie-info">
<ion-card>
  <ion-card-header>
    <ion-card-title>Tên phim</ion-card-title>
    <ion-card-subtitle style="padding-top: 5px;">Thể loại:</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>Nội dungggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
  </ion-card-content>
</ion-card>
</div>
</div>

<div class="food-bill">
<ion-item lines="none">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="5" style="border-right: 1px solid;">
        <ion-label>
          <h4>Tổng đơn hàng </h4>
          <h6>?????</h6>
        </ion-label>
      </ion-col>
      <ion-col size="7">
        <ion-label style="padding-left: 30px;">
          <h4>Thời gian giữ ghế</h4>
          <h6>TICK TOCK</h6>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
</div>

<div class= "food-choice">
  <ion-item class="title" lines="none">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="5">
          <p>COMBO</p>
        </ion-col>
        <ion-col size="4">
         <p>SỐ LƯỢNG</p>
        </ion-col>
        <ion-col size="3" style="text-align:center;">
          <p>THÀNH TIỀN</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item lines="none" *ngFor='let name of foodNameList; let foodIndex = index'>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="6">
          <p>{{name}} <br> {{foodPriceListString[foodIndex]}} </p>
        </ion-col>
        <ion-col size="3" style="text-align:center;">
          <p>{{foodNumberList[foodIndex]}}</p>
        </ion-col>
        <ion-col size="3">
          <p>?????????</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</div>

<div class="next-btn">
<ion-button class="ion-button-class" size="large" expand="block" (click)="btnNext()">Thanh toán</ion-button>
</div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="tabs">
      <div class="tab" [ngClass]="{ 'active' : segment == 'popular' }" (click)="navigate('movie')">
        <img class="icon-tab" src="../../../assets/images/tab-list.png" style="height: 20px; " />
      </div>
      <div class="tab" [ngClass]="{ 'active' : segment == 'top' }" (click)="navigate('home')">
        <img class="icon-tab" src="../../../assets/images/tab-home.png" style="height: 22px; " />
      </div>
      <div class="tab" [ngClass]="{ 'active' : segment == 'upcoming' }" (click)="navigate('home')">
        <img class="icon-tab" src="../../../assets/images/tab-review.png" style="height: 24px; " />
      </div>
    </div>
  </ion-toolbar>
</ion-footer>