ion-header{
    --background: #000;
  }
  
  ion-content{
    --background: #000;
    --color: #fff;
  }

.login-header {
    position: relative;
    background: #000000;
    border-radius: 0 0 14px 14px;
}

.logo-img {
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 3px;
    text-align: center;
}

.icon-header {
    position: absolute;
    top: 40%;
    right: 3%;
}

.background {
    background: url(../../../assets/images/MaskGroup.png);
    background-size: 100% 260px;
    background-repeat: no-repeat;
}

.list-page {

    ion-item {
        --background: none;

        img {
            background: #101010;
            border-radius: 15px;
            border: 2px solid #ff2222bf;
        }
    }
}

.movie-info {
  display: block;
  margin: auto;
  padding-top: 18px;
} 
  ion-card {
    background: rgba(16, 16, 16, 0.6);
    margin: 10px 16px;
    font-family: "Roboto-Light";
    border-radius: 8px;
    color: #fff;
    ion-card-title{
      color: #fff;
      font-family: 'Roboto-Bold';
      font-size: 30px;
    }
    ion-card-subtitle{
      color: #fff;
      font-family: 'Roboto-Light';
      line-height: 15px;
      font-size: 14px;
    }
    }

.customer-info {
    color: #fff;
    margin:15px 16px;
    background: rgb(16 16 16 / 95%);
    border-radius: 8px;
        ion-item-divider{
            font-size: 17px;
            padding-left: 0px;
            margin-bottom: 20px;
        }
        ion-label{
            line-height:30px;
            padding-left: 9px;
            font-family: "Roboto-Light";
        }
}


.noted{
    ion-card {
        background: rgb(16 16 16 / 95%);
        margin-top: 16px;
        margin-bottom: 16px;
        font-family: "Roboto-Light";

        ion-item-divider{
            font-size: 17px;
            padding-left: 11px;
            margin-top: 14px;
            color: #ed3d36;
            background: #0f0f0f;
        }

        ion-label{
            padding: 5px 9px;
            text-align: justify;
            font-family: 'Roboto-Light';
        }
        ion-card-content{
            padding: 10px;
        }
    }
}

ion-label{
    color: rgb(255, 255, 255);
    font-family: "Roboto-Light";
    opacity: .8px;
    font-size: 15px;
    display: block;
}

.next-btn{
    padding: 4px 16px 11px 15px;
    margin-top: 10px;
}


ion-button {
    --background: -webkit-linear-gradient(30deg, #BB1A34, #FF4936);
    --border-radius: 8px;
    --background-activated: -webkit-linear-gradient(30deg, #94182d, #e43926);
    --background-focused: -webkit-linear-gradient(30deg, #94182d, #e43926);
    font-family: "Roboto-Light";
}

ion-toolbar {
    --background: #000000;

    .tabs {
        display: flex;
        justify-content: center;

        .tab {
            margin-top: 3px;
            text-align: center;
            width: calc(100% / 3);
        }
    }
}
