<ion-header>
  <div class="login-header">
    <img class="logo-img" src="../../../assets/images/logo1.png" style="height: 70px;" (click)="navigate('home')"/>
  </div>
</ion-header>
<ion-content [fullscreen]="true">

  <div class="hot-content">
    <div class="hot-title">
      <p class="ht-sm">PHIM PHẢI XEM <img src="../../../assets/images/100.png" style="height: 29px;
      padding-left: 4px; "></p>
    </div>

    <div class="slides">
      <ion-slides [options]="options">
        <ion-slide *ngFor="let movie of listHotMovie" (click)="navMovieDetail(movie.asciiName)">
          <ion-grid>
            <ion-row>
              <ion-col size="12" class="poster-col">
                <img class="poster" src="{{ movie.posterImage }}" alt="Lỗi ảnh">
              </ion-col>
              <ion-col size="12">
                <h5 class="ion-no-margin">{{ movie.name }}</h5>
                <p class="ion-no-margin rate">
                  <ion-icon name="star"></ion-icon> {{ movie.rate }}
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  
  <div class="title">
    <p class="nt-b">PHIM ĐANG CHIẾU</p>
    <p class="nt-sm">PHIM ĐANG CHIẾU</p>
  </div>
  <div class="slides1">
    <ion-slides [options]="options1">
      <ion-slide *ngFor="let movie of listMovie" (click)="navMovieDetail(movie.asciiName)">
        <ion-card>
          <ion-card-header>
            <img class="files" src="{{ movie.posterImage }}" alt="Lỗi ảnh">
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">{{ movie.name }}</ion-card-title>
            <ion-card-subtitle class="ion-text-left">{{ movie.ageLimit }}</ion-card-subtitle>
            <ion-progress-bar value="0.5" color="custom"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide *ngFor="let movie of listHotMovie" (click)="navMovieDetail(movie.asciiName)">
        <ion-card>
          <ion-card-header>
            <img class="files" src="{{ movie.posterImage }}" alt="Lỗi ảnh">
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">{{ movie.name }}</ion-card-title>
            <ion-card-subtitle class="ion-text-left">{{ movie.ageLimit }}</ion-card-subtitle>
            <ion-progress-bar value="0.5" color="custom"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>


  <div class="title">
    <p class="st-sm">PHIM SẮP CHIẾU</p>
  </div>
  <div class="slides1">
    <ion-slides [options]="options1">
      <ion-slide *ngFor="let movie of listComingSoonMovie" (click)="navMovieDetail(movie.asciiName)">
        <ion-card>
          <ion-card-header>
            <img class="files" src="{{ movie.posterImage }}" alt="Lỗi ảnh">
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">{{ movie.name }}</ion-card-title>
            <ion-card-subtitle class="ion-text-left">{{ movie.ageLimit }}</ion-card-subtitle>
            <ion-progress-bar value="0.5" color="custom"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="tabs">
      <div class="tab" [ngClass]="{ 'active' : segment == 'popular' }" (click)="navigate('movie')">
        <img class="icon-tab" src="../../../assets/images/tab-list.png" style="height: 20px; " />
      </div>
      <div class="tab" [ngClass]="{ 'active' : segment == 'top' }" (click)="navigate('home')">
        <img class="icon-tab" src="../../../assets/images/tab-home.png" style="height: 30px; " />
      </div>
      <div class="tab" [ngClass]="{ 'active' : segment == 'upcoming' }" (click)="navigate('account')">
        <img class="icon-tab" src="../../../assets/images/tab-review.png" style="height: 24px; " />
      </div>
    </div>
  </ion-toolbar>
</ion-footer>