<ion-header>
  <div class="login-header ion-padding">
    <img class="logo-img" src="../../../assets/images/logo.png" style="height: 120px;" />
  </div>
</ion-header>

<ion-content class="no-scroll" fullscreen="true">
  <form #form="ngForm" (ngSubmit)="register(form)">
    <div class="center">
      <div class="account">
        <div heading-column-lr>
          <h1 big-heading>ĐĂNG KÍ</h1>
        </div>
        <ion-item transparent>
          <img icon-small src="../../../assets/images/user.png" style="margin-top: 5px;" />
          <ion-input id="username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" type="text"
            placeholder="Tên người dùng" value=""></ion-input>
        </ion-item>
        <ion-item transparent>
          <img icon-small src="../../../assets/images/email.png" style="margin-top: 5px;" />
          <ion-input id="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="Email"
            placeholder="Email" value=""></ion-input>
        </ion-item>
        <ion-item transparent>
          <img icon-small src="../../../assets/images/pass.png" style="margin-top: 5px;" />
          <ion-input id="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password"
            placeholder="Mật khẩu" value=""></ion-input>
        </ion-item>

        <div linespace></div>
        <ion-button class="ion-button-class" size="large" expand="block" (click)="signUp()">Đăng kí</ion-button>
        <ion-label class="ion-text-center">Bạn đã có tài khoản?  <span class="link-button"
          (click)="navLoginPage()">Đăng nhập</span></ion-label>
      </div>
    </div>
  </form>
</ion-content>