<ion-header>
    <div class="login-header">
      <img class="logo-img" src="../../../assets/images/logo1.png" style= "height: 70px; "/>
      <img class="icon-header" src="../../../assets/images/acc1.png" style= "height: 30px; "/>
    </div>
  </ion-header>
  
  <ion-content [fullscreen]="true">


    <div class="tab-home"></div>
    


    <ion-footer>
      <ion-toolbar>
        <div class="tabs">
          <div class="tab" [ngClass]="{ 'active' : segment == 'popular' }" (click)="onTabSelected('popular')">
            <img class="icon-tab" src="../../../assets/images/tab-list.png" style= "height: 20px; "/>
          </div>
          <div class="tab" [ngClass]="{ 'active' : segment == 'top' }" (click)="onTabSelected('top')">
            <img class="icon-tab" src="../../../assets/images/tab-home.png" style= "height: 22px; "/>
          </div>
          <div class="tab" [ngClass]="{ 'active' : segment == 'upcoming' }" (click)="onTabSelected('upcoming')">
            <img class="icon-tab" src="../../../assets/images/tab-review.png" style= "height: 24px; "/>
          </div>
        </div>
      </ion-toolbar>
    </ion-footer>