<ion-header>
  <div class="login-header">
    <img class="logo-img" src="../../../assets/images/logo1.png" style= "height: 70px; "/>
    <img class="icon-header" src="../../../assets/images/acc1.png" style= "height: 30px; "/>
  </div>
</ion-header>

<ion-tabs class="tab">
  <ion-tab-bar>
    <ion-tab-button tab="ticket">
      <ion-icon src="../../../assets/icon/tickets.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon src="../../../assets/icon/home.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="list">
      <ion-icon src="../../../assets/icon/movie-list.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>