.login-header {
    position: relative;
    border-radius: 0em;
    background: #000000;
    border-radius: 0 0 14px 14px;
}
  
.logo-img {
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 3px;
    text-align: center;
}
  
.icon-header {
    position: absolute;
    top: 40%;
    right: 3%;
}

ion-tab-bar{
    --color-selected: #db3033;
    --background: #000;
    // --color: #db3033;
}