<ion-header>
  <div class="login-header">
    <img class="logo-img" src="../../../assets/images/logo1.png" style="height: 70px; " (click)="navigate('home')" />
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background">
    <div class="list-page">
      <ion-item lines="none" background="none">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="3">
              <img src="../../../assets/images/seat1.png" style="height: 50px; display: flex; margin: 0 auto;">
            </ion-col>
            <ion-col size="3">
              <img src="../../../assets/images/popcorn2.png" style="height: 65px; display: flex; margin: 0 auto;">
            </ion-col>
            <ion-col size="3">
              <img src="../../../assets/images/card1.png" style="height: 50px; display: flex; margin: 0 auto;">
            </ion-col>
            <ion-col size="3">
              <img src="../../../assets/images/ticket1.png" style="height: 50px; display: flex; margin: 0 auto;">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>

    <div class="movie-info">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ ticketInfo.movieDetail.name }}</ion-card-title>
          <ion-card-subtitle style="padding-top:5px;">
            <p style="margin: 2px 0px;">{{ movieDetail[0] }}</p>
            <strong style="margin: 2px 0px;">{{ movieDetail[1] }}</strong>
            <p style="margin: 2px 0px;">{{ movieDetail[2] }}</p>
            <strong style="margin: 2px 0px;">{{ movieDetail[3] }}</strong>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>Chúc các bạn xem phim vui vẻ 💕</ion-card-content>
      </ion-card>
    </div>
  </div>

  <div class="food-bill">
    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="5" style="border-right: 1px solid;">
            <ion-label>
              <h4>Tổng đơn hàng </h4>
              <h6>{{ moneyString }}</h6>
            </ion-label>
          </ion-col>
          <ion-col size="7">
            <ion-label style="padding-left: 30px;">
              <h4>Danh sách ghế</h4>
              <h6>{{ listBookingSeatString }}</h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>

  <div class="food-choice">
    <ion-item class="title" lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="5">
            <p>Mô tả</p>
          </ion-col>
          <ion-col size="4">
            <p>Giá tiền</p>
          </ion-col>
          <ion-col size="3" style="text-align:center;">
            <p>Số lượng</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none" *ngFor='let name of foodNameList; let foodIndex = index'>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="5">
            <p>{{name}}</p>
          </ion-col>
          <ion-col size="4">
            <p>{{foodPriceListString[foodIndex]}}</p>
          </ion-col>
          <ion-col size="1">
            <img id="minus{{foodIndex}}" (click)="minus(foodIndex)" src="../../../assets/images/minus.png"
              style="height: 25px;" />
          </ion-col>
          <ion-col size="1" style="text-align:center;">
            <p>{{foodNumberList[foodIndex]}}</p>
          </ion-col>
          <ion-col size="1">
            <img id="plus{{foodIndex}}" (click)="plus(foodIndex)" src="../../../assets/images/plus.png"
              style="height: 25px;" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="next-btn">
      <ion-button class="ion-button-class" size="large" expand="block" (click)="btnNext()">Tiếp tục</ion-button>
    </div>
    <div class="tabs">
      <div class="tab" [ngClass]="{ 'active' : segment == 'popular' }" (click)="navigate('movie')">
        <img class="icon-tab" src="../../../assets/images/tab-list.png" style="height: 20px; " />
      </div>
      <div class="tab" [ngClass]="{ 'active' : segment == 'top' }" (click)="navigate('home')">
        <img class="icon-tab" src="../../../assets/images/tab-home.png" style="height: 22px; " />
      </div>
      <div class="tab" [ngClass]="{ 'active' : segment == 'upcoming' }" (click)="navigate('account')">
        <img class="icon-tab" src="../../../assets/images/tab-review.png" style="height: 24px; " />
      </div>
    </div>
  </ion-toolbar>
</ion-footer>